@import url(./reset.scss);

* {
    &:hover, &:active {
        transition: all 0.2s ease-in;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: $size-base !important;
    background-color: #ffeede;
}

.container {
    max-width: 1920px;
    background-color: #fff;
    margin: 0 auto;

    @media (max-width: 480px) {
        width: 100vw;
    }
}

h1 {
    color: $color-black;
    font-size: clamp(1.5rem, 5vw, 3rem); // 32px - 56px
    font-weight: bold;
    line-height: 1.3;
}

h2 {
    color: $color-black;
    font-size: clamp(1.3rem, 3.5vw, 2.5rem); // 24px - 40px
    line-height: 1.2;
}

h3 {
    color: $color-orange-primary;
    font-size: clamp(1rem, 2.5vw, 2rem); // 20px - 32px
    line-height: 1.1;
}

p {
    color: $color-gray;
    font-size: clamp(0.875rem, 1vw, 1rem); // 14px - 16px
    line-height: 1.4;
}