// colors
$color-black: #000 !default; 
$color-white: #fff !default; 
$color-gray: #545454;
$color-gray-light: #a0a0a0;
$color-orange-primary: #DB6D25;
$color-orange-light: #fbe7d4;
$color-bg-footer-header: #F4F0ED;

$color-text-primary: #1D2A36 !default;
$color-text-secondary: #ACAEB1 !default;

$color-background-odd: #FBFAF8 !default;
$color-background-even: #F4F0ED !default;

$color-link-hover: #bdbdbd !default;
$color-link-active: $color-orange-primary;
$color-link-active-hover: $color-orange-light;

// sizes
$size-base: 16px !default;
$size-base-rem: 1rem !default;

$viewport-height-full: 100vh !default;
$viewport-width-full: 100vw !default;

// spacing
$spacing-base: 0.25rem !default; // 4px
$spacing-micro: $spacing-base * 0.25 !default;// 1px
$spacing-xs: $spacing-base * 0.5 !default;    // 2px
$spacing-sm: $spacing-base !default;          // 4px
$spacing-md: $spacing-base * 2 !default;      // 8px
$spacing-lg: $spacing-base * 4 !default;      // 16px
$spacing-xl: $spacing-base * 8 !default;      // 32px
$spacing-2xl: $spacing-base * 12 !default;    // 48px
$spacing-3xl: $spacing-base * 16 !default;    // 64px
$spacing-4xl: $spacing-base * 24 !default;    // 96px

// font-sizes
$font-size-xs: 0.75rem !default;    // 12px
$font-size-sm: 0.875rem !default;   // 14px
$font-size-base: 1rem !default;     // 16px
$font-size-lg: 1.125rem !default;   // 18px
$font-size-xl: 1.25rem !default;    // 20px
$font-size-2xl: 1.5rem !default;    // 24px
$font-size-3xl: 1.875rem !default;  // 30px
$font-size-4xl: 2.25rem !default;   // 36px
$font-size-5xl: 3rem !default;      // 48px

// padding
$padding-page: $spacing-xl $spacing-2xl;
$padding-header-footer: $spacing-lg $spacing-4xl*2;

// border
$border-base: $spacing-xs solid $color-gray;

// shadows
$shadow-link-hover: 0 1px 1px 0 rgba(0, 0, 0, 0.5);

// mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}