.request {
    @include flex-center;
    text-align: center;
    flex-direction: column;
}

.form {
    display: flex;  
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    gap: 0.25rem;
}

.input {
    display: flex;
    font-size: $font-size-xs;
    flex-direction: column;
    padding: $spacing-md;  
    
    border-radius: $border-radius-md;
    border: 2px solid $color-orange-light;
    
    &_inline {
        flex-direction: row;
    }
}