.header {
    display: flex;
    padding: $padding-header-footer;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;

    background-color: $color-bg-footer-header;
    border-bottom: solid $spacing-micro $color-gray-light;
    margin-bottom: $spacing-3xl;
}
.about {
    font-size: $font-size-2xl;
}

.main {
    display: flex;
    gap: $spacing-xl;
}