.header {
    display: flex;
    padding: $padding-header-footer;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    
    background-color: $color-bg-footer-header;
    border-bottom: solid $spacing-micro $color-gray-light;
}
.about {
    font-size: $font-size-2xl;
}

.main {
    display: flex;
    gap: clamp(1rem, 3vw, 2.5rem);
}