.header {
    padding: $padding-header-footer;
    background-color: $color-bg-footer-header;
    border-bottom: solid $spacing-micro $color-gray-light;
    
    @media (max-width: 420px) {
        padding: 1rem 0.7rem;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about {
    display: flex;
    font-size: $font-size-2xl;
}

.main {
    display: flex;
    gap: clamp(0.5rem, 3vw, 2.5rem);
}